body
{
    color: rgba(66, 122, 5, 0.951);
    text-align: left;
    font-family: Courier;
    font-size:16px;
    margin: 0;
    padding: 0;
}
#container
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid rgba(241, 22, 22, 0.614);
}
#container h1
{
    font-size: 20px;
}